
@import '../SASS/colors';

button.FormTarget{
  background-color: $primary;
  border: none;
  margin: auto;
  display: flex;
  width: 50%;
  padding: 20px 10px;
  border-radius: 16px;

  .textValue{
    color: $titles;
    text-align: center;
    display: flex;
    font-size: 1.25rem;
    margin: auto;
  }
}

button.FormTarget:active{
  background-color: $titles;
  color: $primary;
  border: 1px solid $primary;
  transform: scale(1.05);
  transition: all 0.05s ease-in;
  .textValue{
    color: $primary;
  }
}